body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(179, 198, 214);
  color: rgb(1, 14, 57);
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato Black';
  }

  p, a, span, label, input, button {
    font-family: 'Lato Regular';
  }
}